html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu Mono";
  font-size: 1.2rem; }

button {
  position: relative;
  padding: 10px 20px;
  background: none;
  border: none;
  font-family: "Ubuntu Mono";
  font-size: 1.3rem;
  outline: none;
  cursor: pointer; }
  button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    transition: .3s;
    z-index: -1; }
  button:hover::before, button:focus::before {
    top: 0; }

form {
  width: 400px;
  padding: 30px;
  text-align: center;
  border: 3px solid #444; }
  form button {
    width: 100%;
    margin: 30px 0; }
  form input, form select {
    width: 100%;
    padding: 10px 10px;
    margin: 15px 0;
    border: none;
    border-bottom: 2px solid #888;
    font-family: "Ubuntu Mono";
    font-size: 1.2rem;
    outline: none; }
    form input:focus, form select:focus {
      border-bottom-color: #bd3c1a; }
    form input:-webkit-autofill, form select:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 100px #fff inset; }

.errors-container {
  margin-bottom: 15px;
  text-align: left;
  color: #bd3c1a; }
  .errors-container ul {
    margin-top: 10px;
    padding: 0 25px;
    list-style-type: square;
    font-size: 1.1rem; }

.input-container {
  position: relative; }
  .input-container label {
    position: absolute;
    top: 30%;
    left: 10px;
    color: #888;
    text-align: left;
    transition: 0.2s; }
  .input-container input:valid + label,
  .input-container input:focus + label {
    top: 0;
    color: #888;
    font-size: 1.1rem; }
  .input-container input:focus + label {
    color: #bd3c1a; }

header {
  text-align: center;
  padding: 15px 30px;
  color: #444;
  border-bottom: 3px solid #444; }
  header .header-buttons-wrapper {
    margin: 20px 0; }
    header .header-buttons-wrapper .profile-button {
      color: #444;
      border: 3px solid #444;
      margin-bottom: 10px; }
      header .header-buttons-wrapper .profile-button:hover, header .header-buttons-wrapper .profile-button:focus {
        color: #fff; }
      header .header-buttons-wrapper .profile-button::before {
        background: #444; }
    header .header-buttons-wrapper .log-out-button {
      color: #bd3c1a;
      border: 3px solid #bd3c1a; }
      header .header-buttons-wrapper .log-out-button:hover, header .header-buttons-wrapper .log-out-button:focus {
        color: #fff; }
      header .header-buttons-wrapper .log-out-button::before {
        background: #bd3c1a; }
  header .clock {
    font-size: 1.3rem; }
  header .logo-wrapper {
    width: 250px;
    display: flex;
    align-items: center;
    margin: 0 auto; }
    header .logo-wrapper h1 {
      font-family: 'Dancing Script', cursive;
      font-size: 2.5rem; }
    header .logo-wrapper img {
      max-width: 100px;
      margin-right: 20px; }
  @media screen and (min-width: 730px) {
    header .logo-wrapper {
      margin: 0; }
    header .header-buttons-wrapper, header .clock {
      float: right;
      clear: right;
      width: 400px; } }
  @media screen and (min-width: 850px) {
    header {
      display: flex;
      justify-content: space-center;
      align-items: center; }
      header .clock {
        margin-left: 25px;
        margin-right: auto;
        text-align: left; }
      header .header-buttons-wrapper {
        margin-left: auto;
        order: 1;
        text-align: right; } }

footer {
  padding: 30px;
  background: #444;
  text-align: center; }
  footer a {
    color: #fff;
    text-decoration: none;
    outline: 0; }
    footer a:hover, footer a:focus {
      text-decoration: underline; }
  @media screen and (min-width: 700px) {
    footer {
      display: flex;
      justify-content: space-between; } }

.pizzas-queue-container {
  color: #fff; }
  .pizzas-queue-container main {
    flex: 1;
    padding: 30px;
    text-align: center; }
  .pizzas-queue-container button {
    width: 180px; }
  .pizzas-queue-container .new-pizza-button {
    color: #2c8737;
    border: 3px solid #2c8737; }
    .pizzas-queue-container .new-pizza-button:hover, .pizzas-queue-container .new-pizza-button:focus {
      color: #fff; }
    .pizzas-queue-container .new-pizza-button::before {
      background: #2c8737; }
  .pizzas-queue-container .queue {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    margin: 50px 0; }
    .pizzas-queue-container .queue .pizza {
      border: 5px solid #444;
      transition: .3s; }
      .pizzas-queue-container .queue .pizza img {
        max-width: 100%; }
      .pizzas-queue-container .queue .pizza:hover {
        box-shadow: 0 0 30px #444; }
      .pizzas-queue-container .queue .pizza .order-info {
        padding: 10px;
        background: #444;
        display: flex;
        justify-content: space-between; }
      .pizzas-queue-container .queue .pizza .time-info {
        display: flex;
        flex-direction: column;
        padding: 10px;
        line-height: 1.5rem;
        background: #bd3c1a;
        align-items: flex-start; }

.log-in-form {
  margin: 150px auto; }
  .log-in-form button {
    color: #2c8737;
    border: 3px solid #2c8737; }
    .log-in-form button:hover, .log-in-form button:focus {
      color: #fff; }
    .log-in-form button::before {
      background: #2c8737; }
  .log-in-form a {
    color: #ff5023; }

.sign-up-form {
  margin: 25px auto;
  position: relative; }
  .sign-up-form button {
    color: #ff5023;
    border: 3px solid #ff5023; }
    .sign-up-form button:hover, .sign-up-form button:focus {
      color: #fff; }
    .sign-up-form button::before {
      background: #ff5023; }
  .sign-up-form a {
    color: #2c8737; }
  .sign-up-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .sign-up-form .select-wrapper {
    position: relative; }
    .sign-up-form .select-wrapper::after {
      content: '\25BC';
      position: absolute;
      color: #888;
      top: 25px;
      right: 15px;
      font-size: 1rem;
      pointer-events: none; }
