@import '../../../sass/base/variables';

.list-container {
  flex: 1;
  width: 90%;
  margin: 50px auto;

  .pizzas-list {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));

    .pizza {
      background-color: #fff;
      box-shadow: 0 3px 12px $silver-chalice;
      text-align: center;
      color: #fff;

      img {
        max-width: 90%;
        margin: 10px 0;
      }

      .order-info {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        background: $pomegranate;
      }

      .time-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px;
        background: $mine-shaft;
        line-height: 1.5rem;
      }
    }
  }
}

.waiting-container {
  text-align: center;

  img {
    margin: 50px 0 25px 0;
  }
}