@import '../../../sass/base/variables';
@import '../../../sass/base/extends';

.list-container {
  flex: 1;
  width: 90%;
  margin: 50px auto;

  .pizzas-list {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));

    .pizza {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      box-shadow: 0 3px 12px $silver-chalice;
      color: #fff;
 
      .pizza-img-wrapper {
        flex: 1;
        width: 200px;
        height: 200px;
        padding: 10px;
        margin: 0 auto;
        @extend %flex-centered;
      }

      .order-info, .time-info {
        display: flex;
        padding: 10px 15px;
        background: $tundora;
      }

      .time-info {
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.5rem;
      }

      .order-info {
        justify-content: space-between;
      }

      .pizza-name {
        text-align: center;
        color: $mosque;
        font-size: $big-font-size;
        margin-top: 10px;
      }
    }
  }
}

.waiting-container {
  text-align: center;

  img {
    margin: 50px 0 25px 0;
  }
}