%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

%forms {
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 3px 12px $silver-chalice;

  input.text-input, select, textarea {
    width: 100%;
  }

  .help-form-message {
    text-align: center;
  }
 
  @media screen and (max-width: 400px) {
    background-color: transparent;
    box-shadow: none;

    input.text-input:-webkit-autofill {
      box-shadow: 0 0 0 100px $gallery inset;
    }
  }
}

%sticky-footer-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

%hidden-widget {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}