$base-font-size: 1rem;
$base-font-family: 'Ubuntu Mono';


$red: #f44336;
$dark-red: #ee1f3d;

$blue: #238795;
$dark-blue: #045c68;

$white-gray: #eee;
$light-gray: #aaa;
$gray: #888;
$dark-gray: #444;

$green: #29bb42;

$dark-text-color: #333;
