$main-font-size: 16px;
$main-font-family: 'Ubuntu Mono';

$small-font-size: 14px;


/* RED */
$pomegranate: #f44336;
$guardsman-red: #d50000;

/* BLUE */
$jelly-bean: #238795;
$mosque: #045c68;

/* GRAY */
$gallery: #eee;
$silver-chalice: #aaa;
$gray: #888;
$tundora: #444;
$mine-shaft: #333;

/* GREEN */
$forest-green: #29bb42;


%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}