@import '../../../sass/base/utils';

.login-wrapper {
  margin: 125px 0 50px 0;
  @extend %flex-centered;

  button {
    color: #fff;
    background-color: $pomegranate;
    box-shadow: 0 3px 10px $silver-chalice;

    &:hover,
    &:focus {
      background-color: $guardsman-red;
    }
  }

  input:focus {
    border-bottom-color: $pomegranate;

    & + label {
      color: $pomegranate;
    }
  }

  a {
    color: $jelly-bean;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 700px) {
    img {
      display: none;
    }
  }
}