.order-container {
  @extend %sticky-footer-container;
  
  .create-container {
    flex: 1;
    width: 90%;
    position: relative;
    margin: 0 auto 50px auto;
  
    .create-heading {
      padding: 25px 0;
      text-align: center;
      color: $mosque;
      font-size: $heading-font-size;
    }
  }
}

.show-slow {
  animation: showSlowly .8s;
}


@keyframes showSlowly { 
  from { 
    left: -100px; 
    opacity: 0;
  } 
  to { 
    left: 0; 
    opacity: 1;
  }
}