.order-container {
  @extend %sticky-footer-container;
  
  .create-container {
    flex: 1;
    width: 90%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto 50px auto;
  
    .create-heading {
      padding: 25px 0;
      text-align: center;
      color: $mosque;
      font-size: $heading-font-size;
    }

    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }
}