@import '../../../sass/base/variables';

.user-info-container {
  flex: 1;

  table {
    margin: 100px auto;
    background-color: #fff;
    box-shadow: 0 3px 12px $silver-chalice;
    border-radius: 5px;

    th, td {
      padding: 20px;
    }

    th {
      text-align: left;
      color: $jelly-bean;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    tr:hover {
      background-color: rgba($forest-green, .1);
    }
  }
}