@import '../../../sass/base/variables';
@import '../../../sass/base/extends';
@import '../../../sass/base/mixins';

.description-form {
  @extend %forms;

  input.text-input:focus,
  textarea:focus {
    border-bottom-color: $jaffa;
  
    & + label {
      color: $jaffa;
    }
  }

  .selection-name {
    color: $jelly-bean;
    font-size: $big-font-size;
  }

  .radios-wrapper {
    margin: 15px 0;
    display: flex;

    .radio-container {
      flex: 1;
      text-align: center;
    }
  }

  .checkboxes-wrapper {
    margin: 15px 0;

    .checkbox-container {
      margin: 5px 0;
    }
  }

  input[type=radio] {
    @include selection-button('radio', $gray, $jaffa);
  }

  input[type=checkbox] {
    @include selection-button('checkbox', $gray, $jaffa);
  }

  button {
    width: 100%;
    color: #fff;
    background-color: $jaffa;
    box-shadow: 0 2px 5px $silver-chalice;
  }
}