.sign-up-form {
  margin: 25px auto;
  position: relative;

  button {
    @include button_effect($red);
  }

  a {
    color: $green;
  }

  select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }

  .select-wrapper {
    position: relative;

    &::after {
      content: '\25BC';
      position: absolute;
      top: 25px;
      right: 15px;

      font-size: 1rem;

      pointer-events: none
    }
  }
}

.error-list {
  text-align: left;
  list-style: square inside none;

  li {
    margin-top: 5px;
    color: $dark-red;
  }
}
