header {
  text-align: center;
  padding: 15px 30px;
  color: $dark-gray;
  border-bottom: 3px solid $dark-gray;

  .header-buttons-wrapper {
    margin: 20px 0;

    .profile-button {
      @include button_effect($dark-gray);
      margin-bottom: 10px;
    }

    .log-out-button {
      @include button_effect($dark-red);
    }
  }

  .clock {
    font-size: $lg-font-size;
  }

  .logo-wrapper {
    width: 250px;
    display: flex;
    align-items: center;
    margin: 0 auto;

    h1 {
      font-family: 'Dancing Script', cursive;
      font-size: 2.5rem;
    }

    img {
      max-width: 100px;
      margin-right: 20px;
    }
  }

  @media screen and (min-width: 730px) {
    .logo-wrapper {
      margin: 0;
    }

    .header-buttons-wrapper, .clock {
      float: right;
      clear: right;
      width: 400px;
    }
  }

  @media screen and (min-width: 850px) {
    display: flex;
    justify-content: space-center;
    align-items: center;

    .clock {
      margin-left: 25px;
      margin-right: auto;
      text-align: left;
    }

    .header-buttons-wrapper {
      margin-left: auto;
      order: 1;
      text-align: right;
    }
  }
}
