main {
  flex: 1;
  padding: 30px;
  text-align: center;

  .new-pizza-button {
    @include button_effect($red);
  }

  .queue {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    margin: 50px 0;
  }
}

.pizza {
  border: 5px solid $dark-gray;
  transition: .3s;

  img {
    max-width: 100%;
  }

  &:hover {
    box-shadow: 0 0 30px $dark-gray;
  }

  .order-info {
    padding: 10px;
    background: $dark-gray;
    display: flex;
    justify-content: space-between;
  }

  .time-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    line-height: 1.5rem;
    background: $dark-red;
    align-items: flex-start;
  }
}
