.input-container {
  position: relative;

  label {
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0px;

    color: $gray;

    transition: .2s;
  }

  input:not(:placeholder-shown) + label,
  input:focus + label {
    top: -10px;
    color: $gray;
    font-size: $small-font-size;
  }
}