#hamburger-checkbox {
  @extend %hidden-widget;

  & + label {
    cursor: pointer;

    span {
      display: block;
      width: 30px;
      height: 5px;
      border-radius: 3px;
      background-color: $pomegranate;
      margin-bottom: 5px;
      transition: transform 0.5s cubic-bezier(0.7, 0.2, 0.1, 1.0),
                  opacity 0.3s ease;
    }
  }

  &:checked + label span {
    &:first-child {
      transform: translateY(11px) rotate(45deg);
      transform-origin: 50% 0;
    }

    &:nth-child(2) {
      opacity: 0;
    }
    
    &:last-child {
      transform: translateY(-11px) rotate(-45deg);
      transform-origin: 50% 100%;
    }
  }
}