input.text-input, select, textarea {
  padding: 10px 0 5px 0;
  margin-bottom: 35px;

  border: none;
  border-bottom: 1px solid $gray;
  background-color: transparent;
  
  color: $mine-shaft;
  font-size: $main-font-size;
  font-family: $main-font-family;

  outline: none;
}

input.text-input:-webkit-autofill {
  box-shadow: 0 0 0 100px #fff inset;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
          
  cursor: pointer;
}

input.text-input:not(:placeholder-shown):invalid {
  border-bottom-color: $guardsman-red;
}

input.text-input:valid, select:valid {
  border-bottom-color: $forest-green;
}

input.text-input:not(:placeholder-shown):invalid + label::after {
  content: attr(data-error);
  position: absolute;
  bottom: -48px;
  left: 0;
  color: $guardsman-red;
  font-size: $small-font-size;
}

textarea {
  resize: none;
  overflow-y: hidden;
}