.loader {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);

  width: 80px;
  height: 80px;

  border: 12px solid #fff;
  border-top: 12px solid $pomegranate;
  border-radius: 50%;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg); 
  }
}