.input-container {
  position: relative;

  label {
    position: absolute;
    top: 30%;
    left: 10px;

    color: $gray;
    text-align: left;

    transition: 0.2s;
  }

  input:valid + label,
  input:focus + label {
    top: 0;
    color: $gray;
    font-size: 1.1rem;
  }

  input:focus + label {
    color: $dark-red;
  }
}
